/Tareas/Serialization/build/
/Tareas/Threads/nbproject/private/
/Tareas/Threads/Threads/nbproject/private/
/Tareas/Threads/ThreadsProgram/nbproject/private/
/Tareas/Threads/IdGenerator/nbproject/private/
/Tareas/Threads/NoThreadsProcess/nbproject/private/
/Tareas/Threads/ThreadsProcess/nbproject/private/
/Tareas/Threads/IdGenerator/build/
/Tareas/Threads/NoThreadsProcess/build/
/Tareas/Threads/ThreadsProcess/build/
/Tareas/Threads/ThreadsHW/nbproject/private/
/Tareas/ThreadsHW/nbproject/private/
/Tareas/ThreadsHW/build/